footer{
  background-color: $mainColor;
  .footerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $mainFontColor;
    p:first-of-type{
      font-family: 'Pacifico', cursive;

    }
  }

}
