footer{
  background-color: $mainColor;
  .footerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    p:first-of-type{
      font-family: 'Pacifico', cursive;
      color: $mainFontColor;
    }
  }

}
