.container {
  @media (min-width: 1024px) {
    max-width: 1000px;
    min-width: 900px;
    margin: auto;
  }
}

header {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $mainColor;
  }


  .mobileMenuHeader {
    background-color: $mainColor;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    h1 {
      text-align: center;
      font-family: 'Pacifico', cursive;
      font-size: 1.6rem;
      font-weight: bold;
      color: $mainFontColor;
      @media (min-width: 768px) {
        font-size: 2.5rem;
      }
    }

  }

  nav {
    display: none;
    @media (min-width: 768px) {
      display: inline-block;
    }

    &.showNav {
      display: block;
    }

    ul {
      @media (min-width: 768px) {
        padding: 5px 10px;
        background-color: $mainColor;
        min-width: 760px;
        text-align: center;

      }
      @media(min-width: 1024px) {
        min-width: 900px;
        margin: auto;


      }

      li {
        list-style: none;
        text-align: center;
        background-color: $navColor;
        padding: 5px;
        @media (min-width: 768px) {
          display: inline;
          margin: 0;
          background-color: $mainColor;

          &::after {
            content: "";
            background-color: $mainFontColor;
            display: inline-block;
            height: 1rem;
            width: 4px;
            border-radius: 10px;
            transform: rotate(30deg);
            margin-left: 10px;

          }
          &:last-child::after {
            display: none;
          }

        }

        a {
          text-decoration: none;
          text-transform: uppercase;
          font-size: 1.2rem;
          font-weight: bold;
          color: $mainFontColor;

          &:visited {
            color: $mainColor;
          }

          &:hover {
            color: $hoverColor;
          }

          &:active {
            color: $mainFontColor;
          }

          @media (min-width: 768px) {
            &:visited {
              color: $navColor;
            }
            &:hover {
              color: $hoverColor;
            }
            &:active {
              color: $mainFontColor;
            }
          }
        }
      }

    }
  }
}
