.home {
  .homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: 768px) {
      flex-direction: row;
    }

    img {
      max-width: 100%;
      @media (min-width: 768px) {
        margin: 5px 10px;
      }

    }

    .homeSmoothieInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;


    }
  }
}