.smoothieContainer {
  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  }
}

.smoothies {
  background-color: $mainColor;
  color: $mainFontColor;

  .smoothieSlider1, .smoothieSlider2, .smoothieSlider3 {
    position: relative;

    h3 {
      text-align: center;
      color: $mainFontColor;
      font-family: 'Pacifico', cursive;
      font-size: 1.8rem;
      padding: 5px;
      @media (min-width: 768px) {
        margin: 5px;
      }

    }

    .toRight, .toLeft {
      font-size: 2rem;
      color: white;
      font-weight: bold;
      padding: 150px 10px;
      cursor: pointer;

      &:hover {
        background-color: rgba(92, 121, 122, 0.5);
      }
    }

    .smoothieSliderItem {
      display: none;

      &.visible {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        img {
          margin: 5px;
          border-radius: 25px;
        }

        p {
          max-width: 320px;
        }
      }
    }
  }

  .smoothieSlider1 .toLeft, .smoothieSlider2 .toLeft, .smoothieSlider3 .toLeft {
    cursor: pointer;
    position: absolute;
    top: 80px;
    left: 6px;
  }

  .smoothieSlider1 .toRight, .smoothieSlider3 .toRight, .smoothieSlider2 .toRight {
    cursor: pointer;
    position: absolute;
    top: 80px;
    right: 6px;
  }

}